<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
    <title>CSIVIT - CCS16</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/Style/main.css" type="text/css">
    <link rel="stylesheet" href="/Style/common.css" type="text/css">
</head>
<body>

    <%- include sidebar %>
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            </button> <a class="navbar-brand" href="#"><h3>CSIVIT - CCS16</h3></a>
        </div>
        <span class="pull-right" id="userDetails">
            <p class="text-primary">
                <strong><%= user.details.regNo %></strong>
                - <%= user.details.fullName %>
            </p>
        </span>
    </nav>

    <div class="wrapper container-fluid">
        <div class="row">
            <center>
                <h1>Developed by</h1>
                <h2>Mohd Akram Ansari</h2>
                <h1>Questions team</h1>
                <h2>Aditya Dua</h2>
                <h2>Hitesh Mandhyan</h2>
                <h2>Abirami</h2>
            </center>
        </div>
    </div>
</body>
</html>
