<!DOCTYPE html>
<html lang="">
<head>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
    <meta charset="utf-8">
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">   -->
    <title>CSIVIT - CCS16</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="Style/main.css" type="text/css">
    <link rel="stylesheet" href="Style/jquery.countdown.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Style/mouseparallax.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="JavaScript/jquery.countdown.js"></script>
    <script src="JavaScript/main.js"></script>
    <script src="JavaScript/canvas.js"></script>
<style>
.bg-image {
  background-image: url('/images/bg_2.png');
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  top: 10px;
  left: 0;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
}

.loginButton{
    border: 3px solid #EE202E;
    background-color: transparent;
    color: #EE202E;
    font-size: 32px;
    padding : 10px;
    margin-top: 10px;
    display: inline-block;
    transition: 0.2s !important;
}

.loginButton:hover{
    border-color: white;
    background-color: black;
}
</style>
</head>


<body>
    <div class="bg-image"></div>
    <div class="content">
        <% if (message.length > 0) { %>
            <div class="alert alert-success"><center><%= message %></center></div>
            <% } %>

            <center>
                <img alt="csivit" src="/images/typeface_csi.png">
                <h1>You can surely thank us later <br/>
                    for making your day better.</h1>
                    <h2 style="background-color=#ffd1eb">Here is your chance to join us!<br/>
                    <small>Core Committee Selection (For second years)</small></h2>
                    <a href="/auth/google" class="loginButton">Login / Register</a>
            </center>
    </div>
</body>
</html>
